[core]
	editor = vim
	excludesfile = /Users/zachrobert/.gitignore
	autocrlf = input
	safecrlf = true
[user]
	name = Zach Robert
[color]
	ui = auto
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[grep]
	extendRegexp = true
	lineNumber = true
[init]
	defaultBranch = main
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  lo = log --graph --oneline --decorate
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
[tag]
	forceSignAnnotated = true
[pull]
	ff = only
[push]
	autosetupremote = true
[rebase]
	autoStash = true
[merge]
	conflictStyle = zdiff3
	verbose = true
[diff]
	algorithm = histogram
[url "git@github.com:"]
	insteadOf = "https://github.com/"
[transfer]
	fsckobjects = true
[fetch]
	fsckobjects = true
[receive]
	fsckObjects = true
